.container {
  margin-top: 40px;
  border: 30px solid #eacd9b;
  background: #eacd9b;
  box-shadow: 5px 5px 5px 5px rgb(167, 163, 163);
  border-radius: 50px;
}
.weather {
  font-family: "Smokum", cursive;
  border: 20px solid #d83627;
  border-radius: 50px;
  max-width: 600px;
  margin: 20px 20px auto;
  display: block;
  background: #eacd9b;
  color: #307b7e;
  box-shadow: 5px 5px 5px 5px rgb(105, 101, 101);
}
h1 {
  margin-left: 30px;
  font-size: 40px;
  margin-top: -15px;
  margin-bottom: -15px;
}
li {
  font-size: 30px;
  margin-left: 20px;
}
.formSearch {
  text-align: center;
}
.newForm {
  border: 20px solid #d83627;
  border-radius: 25px;
  max-width: 600px;
  margin: 10px auto;
}
.cityType {
  border: 5px solid #eacd9b;
  border-radius: 20px;
  background: #eacd9b;
  color: #eacd9b;
  padding: 10px 60px;
}
.citySearch {
  border: 5px solid #d83627;
  border-radius: 20px;
  background: #d83627;
  color: #eacd9b;
}
.weatherDaily {
  border: 20px solid #307b7e;
  border-radius: 50px;
  margin: 10px auto;
  max-width: 600px;
}
